body{
    padding: 100px;
}

.login-area{
    margin: 50px 25px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#dashboard{
    display: none;
}

.status-box{
    color: white;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#deposit{
    background-color: orange;
}

#withdraw{
    background-color: steelblue;
}

#balance{
    background-color: crimson;
}